html {
	margin: 20px 40px;
}

body {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow-y: visible!important;
}

/* Makes all paragraphs visible. */
p:empty {
	min-height: 20px;
}

.wpview-wrap {
	border: none;
	width: 100%;
}

.wpview-wrap.selected {
	background: none;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 2px dashed #aaa;
	outline-offset: 5px;
}

.wpview-wrap .toolbar {
	left: -38px;
	top: -5px;
}

.wpview-type-audio .toolbar {
	top: -5px;
	bottom: auto;
}

.wpview-wrap .toolbar div {
	background: none;
	box-shadow: none;
	display: block;
	margin: 0;
	opacity: 0.5;
	padding: 0;
	-webkit-transition: opacity 0.1s ease-in 0;
    transition: opacity 0.1s ease-in 0;
}

.wpview-wrap .toolbar div:hover {
	background: none;
	box-shadow: none;
	opacity: 1;
}

.gallery {
	margin: 0;
	padding: 0;
}
