html {
	margin: 0 40px;
}

body {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow: visible !important;
	/* The padding ensure margins of the children are contained in the body. */
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Makes all paragraphs visible. */
p:empty {
	min-height: 20px;
}

.wpview-wrap {
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.wpview-wrap .wpview-clipboard {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.wpview-wrap[data-mce-selected] {
	background: none;
	border: none;
	position: relative;
}

.wpview-wrap[data-mce-selected]:before {
	content: '';
	margin: 0;
	padding: 0;
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	outline: 2px dashed #aaa;
}

.wpview-wrap .toolbar {
	left: -38px;
	top: -5px;
}

.wpview-type-audio .toolbar {
	top: -5px;
	bottom: auto;
}

.wpview-wrap .toolbar div {
	background: none;
	box-shadow: none;
	display: block;
	margin: 0;
	opacity: 0.5;
	padding: 0;
	-webkit-transition: opacity 0.1s ease-in 0;
	-moz-transition: opacity 0.1s ease-in 0;
	transition: opacity 0.1s ease-in 0;
}

.wpview-wrap .toolbar div:hover {
	background: none;
	box-shadow: none;
	opacity: 1;
}

.wpview-wrap[data-mce-selected] .wpview-overlay {
	display: none;
}

.wpview-wrap[data-mce-selected] .toolbar {
	display: block;
}

.wpview-error {
	border: none;
}

.gallery {
	margin: 0;
	padding: 0;
}

#wp-insert-block {
	position: absolute;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: color 0.1s ease-in 0;
	-moz-transition: color 0.1s ease-in 0;
	transition: color 0.1s ease-in 0;
}

#wp-insert-block,
#wp-insert-block:before,
#wp-insert-block:after {
	margin: 0;
	padding: 0;
	background: none;
	content: '';
}

#wp-insert-block .dashicons {
	font-size: inherit;
	line-height: inherit;
	height: inherit;
	width: 24px;
	transition: none;
}

.wpview-type-more p,
.wpview-type-nextpage p {
	text-align: center;
	position: relative;
	overflow: hidden;
}

.wpview-type-more span,
.wpview-type-nextpage span {
	position: relative;
}

.wpview-type-more span:before,
.wpview-type-more span:after,
.wpview-type-nextpage span:before,
.wpview-type-nextpage span:after {
	content: '';
	position: absolute;
	border-bottom: 2px dashed #eee;
	top: 50%;
	width: 1000px;
}

.wpview-type-more span:before,
.wpview-type-nextpage span:before {
	right: 100%;
	margin-right: 5px;
}

.wpview-type-more span:after,
.wpview-type-nextpage span:after {
	left: 100%;
	margin-left: 5px;
}
