div.mce-toolbar-grp {
	padding: 0;
}

div.mce-toolbar-grp > div {
	padding: 3px;
}

#content-resize-handle {
	display: none;
}

.autosave-info {
	padding: 2px 10px;
}

.mce-statusbar {
	display: none;
}

#post-status-info,
.mce-toolbar-grp {
	z-index: 1000;
}

/* Prevent showing the menu when the opacity changes. */
.auto-fold #adminmenuback,
.auto-fold #adminmenuwrap {
	display: none !important;
}

.auto-fold .wp-responsive-open #adminmenuback,
.auto-fold .wp-responsive-open #adminmenuwrap {
	display: block !important;
}
